body {
   background-color: #F3F3F3;
}

.App {
  margin: auto;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#btn-primary {
  background: #F37332;
}

.homePage {
  background-color: white;
}

#adminForm {
  padding: 2rem;
}

#donationList {
  margin: 1rem 5rem 1rem 5rem;
}

#donorForm {
  padding: 2rem;
}

#container {
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px){
  #adminForm {
    padding: 10rem;
  }

  #donationList {
  margin: 10rem auto;
}

}

