@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

body {
   font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}

html {
  background-image: radial-gradient(circle, rgba(247, 247, 247, 0.466)0%, rgba(247, 247, 247, 0.9738270308123249) 74%);
}

ul {
  list-style: none
}

li {
  text-decoration: none;
  padding-right: 2rem;
}

.App {
  margin: auto;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homePage {
  background-image: radial-gradient(circle, rgba(247, 247, 247, 0.466)0%, rgba(247, 247, 247, 0.9738270308123249) 0%);
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-image: radial-gradient(circle, rgba(247, 247, 247, 0.466)0%, rgba(247, 247, 247, 0.9738270308123249) 74%);
  align-items: center;
  padding: 1rem 0;
}

#btn-primary {
  background: #F37332;
}

#adminForm {
  padding: 2rem;
}

#donationList {
  margin: 1rem 5rem 1rem 5rem;
  display: flex;
  justify-content: center;
}

#donorForm {
  padding: 2rem;
}

#donors {
  color: #F2711C;
}

#list {
  color: #009C95;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

#donorFooter {
  background-color: white;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #F37332;
}

#donorReceipt {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

#footerMenu {
  bottom: 0;
  position: fixed;
}

#modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia {
  transition: all .3s;
}

.socialMedia:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media only screen and (min-width: 600px){
  #adminForm {
    padding: 10rem;
  }

  #donationList {
    margin: 10rem auto;
  }

  #donorReceipt {
    margin-bottom: 5rem;
  }
  

  #modalFooter {
    justify-content: flex-end;
  }

}

